<div class="index-wrapper row">
	<div class="left-col col-sm-6">
	  <div class="text-wrapper">
	  	<h3>Follow your interests.</h3>
	  	<h3>Hear what people are talking about.</h3>
	  	<h3>Join the conversation.</h3>
	  </div>
	</div>
	<div class="right-col col-sm-6">
	  <h1>teste2</h1>
	</div>
</div>