@import "~bootstrap/scss/bootstrap";
@import "../node_modules/font-awesome/css/font-awesome.css";

@import "variables";

@import "pages/index";

body {
	font-family: $font-family-base;
		background-color: $light-bg-blue;
}

h3 {
	font-size: 24px;
	font-weight: bold;
}
